<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var input = require('/fishstrap/ui/input.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var categoryId = $.location.getQueryArgv('categoryId');
		function go(value){
			input.verticalInput({
				id:'container',
				field:[
					{id:'name',type:'text',name:'名字'},
					{id:'remark',type:'text',name:'备注'},
				],
				value:value,
				submit:function(data){
					if( categoryId != null ){
						data = $.extend({categoryId:categoryId},data);
						$.post('/category/mod',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}else{
						$.post('/category/add',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}
				},
				cancel:function(){
					history.back();
				}
			});
		}
		if( categoryId != null ){
			$.get('/category/get',{categoryId:categoryId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				go(data.data);
			});
		}else{
			go({});
		}
	</script>
 </body>
</html>
