<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript" src="/fishstrap/js/fishstrap.js" charset="utf-8"></script>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var input = require('/fishstrap/ui/input.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		input.verticalInput({
			id:'container',
			field:[
				{id:'name',type:'text',name:'姓名'},
				{id:'password',type:'text',name:'密码'},
				{id:'type',type:'enum',name:'类型',map:{'1':'管理员','2':'普通会员'}},
			],
			submit:function(data){
				$.post('/user/add',data,function(data){
					data = $.JSON.parse(data);
					if( data.code != 0 ){
						dialog.message(data.msg);
						return;
					}
					history.back();
				});
			},
			cancel:function(){
				history.back();
			}
		});
	</script>
 </body>
</html>
