<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var input = require('/fishstrap/ui/input.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var userId = $.location.getQueryArgv('userId');
		$.get('/user/get',{userId:userId},function(data){
			data = $.JSON.parse(data);
			if( data.code != 0 ){
				dialog.message(data.msg);
				return;
			}
			data = data.data;
			input.verticalInput({
				id:'container',
				field:[
					{id:'name',type:'read',name:'姓名'},
					{id:'password',type:'text',name:'新密码'},
				],
				value:{
					name:data.name
				},
				submit:function(data){
					data = $.extend({userId:userId},{password:data.password});
					$.post('/user/modPassword',data,function(data){
						data = $.JSON.parse(data);
						if( data.code != 0 ){
							dialog.message(data.msg);
							return;
						}
						history.back();
					});
				},
				cancel:function(){
					history.back();
				}
			});
		});
	</script>
 </body>
</html>
