<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	正在获取授权信息中...
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var redirectUrl = 'http://'+location.host +'/backstage/views/blog/auth.html';
		var code = $.location.getQueryArgv('code');
		var result = null;
		function whenWindowClose(mode,operation){
			if( mode == 'confirm'){
				operation.close(result);
			}else{
				operation.close(null);
			}
		}
		$.get('/blog/getAccessToken',{redirectUrl:redirectUrl,code:code},function(data){
			data = $.JSON.parse(data);
			if( data.code != 0 ){
				dialog.message(data.msg);
				$('#container').text('获取授权信息失败!，请点击取消~');
				return;
			}
			result = data.data;
			$('#container').text('获取授权信息成功!，请点击确认~');
		});
	</script>
</body>