<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var subPage = require('fishstrap/page/subPage.js');
		var syncType = {1:'增量转换',2:'全量转换'};
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'gitUrl',type:'text',name:'git地址(https)'},
					{id:'accessToken',type:'text',name:'csdn访问授权(例如：user,pass)'},
					{id:'syncType',type:'enum',name:'同步类型',map:syncType},
				],
				submit:function(data){
					$.post('/blog/addTask',data,function(data){
						data = $.JSON.parse(data);
						if( data.code != 0 ){
							dialog.message(data.msg);
							return;
						}
						history.back();
					});
				},
				cancel:function(){
					history.back();
				}
			});
		}
		go();
	</script>
 </body>
</html>
