<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript" src="/js/fishstrap.js" charset="utf-8"></script>
	<script type="text/javascript">
		fishstrap.use(['core/global','ui/query','ui/dialog'],function($,query,dialog){
			query.simpleQuery({
				id:'container',
				url:'/article/search',
				column:[
					{id:'contentArticleId',type:'text',name:'文章ID'},
					{id:'title',type:'text',name:'标题'},
					{id:'remark',type:'text',name:'备注'},
					{id:'createTime',type:'text',name:'创建时间'},
					{id:'modifyTime',type:'text',name:'修改时间'},
				],
				queryColumn:['title','remark'],
				operate:[
				{
					name:'编辑封面',
					click:function(data){
						location.href = 'viewCover.html?contentArticleId='+data.contentArticleId;
					}
				},
				{
					name:'编辑内容',
					click:function(data){
						location.href = 'view.html?contentArticleId='+data.contentArticleId;
					}
				},
				{
					name:'删除',
					click:function(data){
						dialog.confirm('确认删除该文章，不可回退操作？!',function(){
							$.post('/article/del',{contentArticleId:data.contentArticleId},function(data){
								data = $.JSON.parse(data);
								if( data.code != 0 ){
									dialog.message(data.msg);
									return;
								}
								location.href = 'index.html';
							});
						});
					}
				}],
				button:[
				{
					name:'添加文章',
					click:function(){
						location.href = 'view.html';
					}
				}
				],
			});
		});
	</script>
 </body>
</html>
