<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript" src="/js/fishstrap.js" charset="utf-8"></script>
	<script type="text/javascript">
		fishstrap.use(['core/global','ui/input','ui/dialog'],function($,input,dialog){
			var contentArticleId = $.location.getQueryArgv('contentArticleId');
			function go(value){
				input.verticalInput({
					id:'container',
					field:[
						{id:'title',type:'text',name:'标题'},
						{id:'content',type:'fullEditor',name:'内容'},
						{id:'remark',type:'text',name:'备注'},
					],
					value:value,
					submit:function(data){
						if( contentArticleId != null ){
							data = $.extend({contentArticleId:contentArticleId},data);
							$.post('/article/mod',data,function(data){
								data = $.JSON.parse(data);
								if( data.code != 0 ){
									dialog.message(data.msg);
									return;
								}
								location.href = 'index.html';
							});
						}else{
							$.post('/article/add',data,function(data){
								data = $.JSON.parse(data);
								if( data.code != 0 ){
									dialog.message(data.msg);
									return;
								}
								location.href = 'index.html';
							});
						}
					},
					cancel:function(){
						location.href = 'index.html';
					}
				});
			}
			if( contentArticleId != null ){
				$.get('/article/get',{contentArticleId:contentArticleId},function(data){
					data = $.JSON.parse(data);
					if( data.code != 0 ){
						dialog.message(data.msg);
						return;
					}
					go(data.data);
				});
			}else{
				go({});
			}
		});
	</script>
 </body>
</html>
