<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="chart" style="height:400px">
	</div>
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var table = require('/fishstrap/ui/table.js');
		var chart = require('/fishstrap/ui/chart.js');
		var year = $.location.getQueryArgv('year');
		var week = $.location.getQueryArgv('week');
		var type = $.location.getQueryArgv('type');
		var statistic = {};
		function getData( nextStep ){
			$.get('/account/getWeekDetailTypeStatistic',{year:year,week:week,type:type},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				statistic = data.data;
				nextStep();
			});
		}
		function go(){
			//扇形图
			chart.simpleSector({
				id:'chart',
				data:statistic,
				xAxis:'categoryName',
				yAxis:'money',
			});
			
			//表格
			var total = {};
			total.precent = '100%';
			total.categoryName = '合计';
			total.money = 0;
			for( var i in statistic )
				total.money = total.money + parseInt(statistic[i].money);
			statistic.push(total);
			table.staticSimpleTable({
				id:'container',
				data:statistic,
				column:[
					{id:'categoryName',type:'text',name:'分类'},
					{id:'money',type:'text',name:'金额'},
					{id:'precent',type:'text',name:'占比'},
				],
				operate:[],
			});
		}
		getData(function(){
			go();
		});
	</script>
 </body>
</html>
