<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript" src="/js/fishstrap.js" charset="utf-8"></script>
	<script type="text/javascript">
		fishstrap.use(['core/global','ui/input','ui/dialog'],function($,input,dialog){
			var contentRecipeId = $.location.getQueryArgv('contentRecipeId');
			var categorys = {0:'无栏目'};
			var classifys = {0:'未分类'};
			var contentRecipeData;
			function getContentRecipe(nextStep){
				$.get('/recipe/get',{contentRecipeId:contentRecipeId},function(data){
					data = $.JSON.parse(data);
					if( data.code != 0 ){
						dialog.message(data.msg);
						return;
					}
					contentRecipeData = data.data;
					nextStep();
				});
			}
			function getAllCategory(nextStep){
				$.get('/category/search',{},function(data){
					data = $.JSON.parse(data);
					if( data.code != 0 ){
						dialog.message(data.msg);
						return;
					}
					_.each(data.data.data,function(single){
						categorys[single.categoryId] = single.name;
					});
					nextStep();
				});
			}
			function getAllClassify(nextStep){
				$.get('/classify/search',{},function(data){
					data = $.JSON.parse(data);
					if( data.code != 0 ){
						dialog.message(data.msg);
						return;
					}
					_.each(data.data.data,function(single){
						classifys[single.classifyId] = single.name;
					});
					nextStep();
				});
			}
			function go(){
				input.verticalInput({
					id:'container',
					field:[
						{id:'coverTitle',type:'text',name:'封面标题'},
						{id:'coverImage',type:'image',name:'封面图片',url:'/recipe/uploadCover'},
						{id:'clientId',type:'read',name:'用户ID'},
						{id:'clientName',type:'read',name:'用户名'},
						{id:'classifyId',type:'enum',name:'分类',map:classifys},
						{id:'categoryId',type:'enum',name:'栏目',map:categorys},
					],
					value:contentRecipeData,
					submit:function(data){
						data = $.extend({contentRecipeId:contentRecipeId},data);
						$.post('/recipe/modBasic',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							location.href = 'index.html';
						});
					},
					cancel:function(){
						location.href = 'index.html';
					}
				});
			}
			getContentRecipe(function(){
				getAllCategory(function(){
					getAllClassify(function(){
						go();
					});
				});
			});
		});
	</script>
 </body>
</html>
